@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family:montserrat;
    color:#844eb8;
}
html,body{
    height:100%;
    width:100%;
    
    


}
#main{
    position: relative;
    overflow:hidden;
}
#page{
    height:100vh;
    width:100vw;
    background-color:#FDE5EC;
    position:relative;

}
#page>img{
    position:absolute;
    right:8%;
    top: 38%;
    margin-top:70px;
    transform:translateY(-50%);
    margin-left:90px ;
    width:600px;
    height:600px;
    filter: drop-shadow(5px 8px 30px rgb(135, 173, 216));
   transition: 1s;

}


#page>#nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0px 30px;
    margin-top: 20px;;
    position: absolute;
    z-index: 9;
    height:10%;
    width:100%;
    
}
.center-nav{
    display:flex;
    gap:20px;
    color:#844eb8

}
.center-nav>a{
    margin-top: 20px;
    text-decoration: none;
    color:#844eb8;
    font-weight:640;
    font-size:20px;
    text-align: justify;

    
}
.red:hover{
    color:#FDE5EC;
}

#nav>::placeholder{
    color:#844eb8;
    font-weight: 500;
}
.nav-item{
    transition: 0.3s ease-in-out;
}
.nav-item:hover{
    color:#f27e67 ;
    transform: scale(0.9);
}


#nav>input{
    margin-top: 30px;
    padding:10px 15%;
    border-radius:10px;
    border:1px solid #844eb8;
    text-transform:uppercase;  
    text-align: center;
    color:#844eb8;


}
#nav>img{
    margin-top:20px;
    height:90px;
    width:240px;
    transition: 0.1s ease-out;
}
#nav>img:hover{
    transform: scale(0.9);
}
#text{

    padding:30px 50px;
    position:relative;
    top:15%;
    left:5%;
    height: 75%;
    width: 35%;
    scale:1.1;
    color:#844eb8;
   

}
#text>h1{
    
    font-size: 60px;
    line-height: 1;
    margin-top:65px;
    margin-left: 20%;
  

}

#text>h4{
    margin-top:12px;
    margin-left:20%;
    font-size:17px;
    font-weight:540;
    margin-left:20%;
    color:#844eb8;

}
#text>h5{
    color:#844eb8;
    transform: rotate(-20deg);
    position:absolute;
    position:absolute;
    left:22%;
    text-transform: uppercase;
    margin-top:47px;

}
/* styling buttons */
#buttons{
    position:absolute;
    left:0%;
    bottom:18%;
    height:20%;
    width:100%;
    
    
}
#buttons>button{
    margin-top: 120px;;
    padding:10px 22px;
    border-radius:10px;
    border:none;
    background-color: #FCBAAD;
    font-weight:600;
    font-size: 15px;  
    transition: 0.3s ease-in-out;
}
button:hover{
    color: #FCBAAD;
    background-color: #844eb8;
    transform: scale(0.9);
}

#buttons>#b1{
    margin-left:25%;
    background-color:#FCBAAD;
  
}
#buttons>#b2{
    margin-left:20px;
    background-color:#FCBAAD;
}
#buttons>button>i{ 
    font-size: 20px;
}
#buttons>button>a{
    text-decoration: none;
}
#page1{
    position:relative;
    height:100vh;
    width:100vw;
    background-color:#FCBAAD;
    
}
#page1>#left{
    position:absolute;
    right:10%;
    top:50%;
    transform:translateY(-50%);
    height:90%;
    width:35%;
    
}
#left>.box{
    height:33.3%;
    width:100%;
    
    border-top:2px solid rgb(87, 33, 132);


}
.circle{
    align-items: center;
    justify-content: center;
    height:3vw;
    width:3vw;
    background-color: #FDE5EC;
    border-radius:50%;
    display:flex;
    margin-top:15px;
    transition: 0.3s ease-in-out;

}
.circle:hover{
    transform: scale(1.1);
   
}
.circle>i{
    color:rgb(143, 54, 192);
    font-size:25px;


}
#text1{
    margin:50px 50px;
    position: absolute;
    z-index: 9;
    height:30%;
    width:50%;
   
}
#text1>h1{
    font-size:70px;
    margin-top:10px;
    margin-left:50px;
    


}

#text1>h4{
    font-size:20px;
    color:rgb(143, 54, 192);
    font-weight:540;
    line-height: 1.2;
    width:70%;
    margin-top:10px;
    margin-left:50px;

}
#text1>h5{
    color:rgb(143, 54, 192);
    transform:rotate(-20deg);
    position: absolute;
    left:3%;
    font-size: 17px;

}
#page1>img{
    position: absolute;
    bottom:2%;
    left:7%;
    width:13%;
    margin-bottom:55px;

}
.box>h1{
    margin-top:20px;
    font-size: 34px;
    transition: 0.3s ease-in-out;
    

}
.box>h1:hover{
    transform: scale(1.1);
}
.box>h4{
    margin-top:10px;
    font-size: 20px;
    ;
}
#page2{
    height:100vh;
    width:100vw;
    background-color: #844eb8;
    position:relative;
}
#project{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:50%;
    width:90%;
   color:#FCBAAD;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:5%;

}
.projects{
     border-top: 2px solid #FCBAAD;
    height:100%;
    width:31%;
    transition: 0.3s ease-in-out;
    
}
.projects:hover{
    transform: scale(0.9);
    z-index:2;
}
#text3{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0px 20px; 
    height:30%;
    width:100%;
   text-decoration: none;
    
}

#text3>h1{
    color:#FDE5EC;
    text-decoration: none;
}
#image{
    height: 70%;
    width:100%;
    
   
}
#image>img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.p1>h1{
    margin-top:10px;
}
.p2{
    position: relative;

    top:-37%;
}
.p3{
    position: relative;

    top:-74%;
}
#text4{
    position:absolute;
    top:10%;
    left:5%;

    height:20%;
    width:30%;

}
#text4>h1{
   
    color:#FDE5EC;

    font-size:50px;

}
#text4>h5{
    color:#FDE5EC;
    transform:rotate(-22deg);
    position: absolute;
    top:-6%;
    left:-10%;
    

}
/* skill section */
.skills{
    background-color: #FCBAAD;
    width:100%;
}
.heading>h2{
    text-align: justify;
    font-size: 90px;
    margin-left: 20%;
    font-weight: 700;
    padding-top:30px;

}
.heading>span{
    font-size: 40px;
    margin-left:2%;
    
}
.skills-container{
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
    
   margin-left: 90px;
    
    min-height: 60vh;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.skills-container img{
    position: relative;
    display:flex;
    filter: drop-shadow(5px 8px 30px rgb(135, 173, 216)); 
    align-items: center;
    right:5%;
    height: 630px;
    margin-top:-140px;
    margin-left:80px;

    

}

.skills-container .bars{
  width:100%;
}
.bars{
    padding-top: 90px;
}
.bars-box{
    position: relative;
    height:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 0;
    margin-bottom: 3rem;
    transition: 1s ease-in-out;
    
}
.bars-box:hover{
    transform: scale(1.1);
}
.bars-box h3,span{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;


}
.light-bar{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
    background: hsla(260, 100%, 44%, 0.4);
    border-radius:0.5rem;

}
.percent-bar{
    position:absolute;
    bottom:0;
    left:0;
    width:10px;
    height:20px;
    background:#FDE5EC;
    border-radius: 0.6rem;
    transition: 3s ease-in-out;
}
.percent-bar:hover{
    transform: scale(0.9);
}
.html-bar{
    width:95%;
   

}

.css-bar{
    width:85%;
    
}
.js-bar{
    width:65%;
    
}
.react-bar{
    width:40%;
    
}
.java-bar{
    width:50%;
}






/* email part */
.email{
    
    height:65vh;
    width:100vw;
    background-color:#844eb8;
   
}
.email>h1{
    color:#FCBAAD;
    padding-top:5%;
   
    font-size: 50px;;
    text-align: center;

}
.email>h4>p{
    color:#FCBAAD;
    margin-top:30px;
    font-size:25px;
    text-align: center;
}

/* end section */
.ending-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #844eb8;
    padding: 50px 0;
    color: #FDE5EC;
}

.contact, .address, .open-to-work {
    text-align: center;
    padding: 20px;
    
    
    
}
.contact>a{
    text-decoration: none;

}
.contact {
    background-color: #FCBAAD;
   
}
.contact:hover{
    background-color: #FDE5EC;
}

.address {
    background-color:#FCBAAD ;
}
.address>p{
    margin-bottom:10px;
}
.address:hover{
    background-color: #FDE5EC;
}
.open-to-work {
    background-color: #FCBAAD;
    flex-basis: 40%;
}
.open-to-work>a{
    text-decoration: none;
}
.open-to-work:hover{
    background-color:#FDE5EC ;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}
